.agenda-container {
    display: flex;
    min-height: 100%;
}

.agenda-main {
    flex-grow: 1;
    padding: 3em;
}

.fc .fc-toolbar {
    display: block;
}

.fc .fc-toolbar-title {
    font-size: 1.25em;
    margin: 0;
}
