{
    "extends": [
      "airbnb-typescript",
      "airbnb/hooks",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "prettier/react",
      "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "project": "tsconfig.json",
      "sourceType": "module"
    },
    "plugins": [
      "eslint-plugin-import-helpers",
      "prettier"
    ],
    "rules": {
      "jsx-quotes": [0],
      "object-curly-newline": [0],
      "react/button-has-type": [0],
      "import/prefer-default-export": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/interface-name-prefix": "off",
      "@typescript-eslint/no-empty-interface": "off",
      "@typescript-eslint/no-empty-function": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/consistent-type-assertions": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "comma-dangle": "off",
      "global-require": "off",
      "import-helpers/order-imports": ["warn", {
        "alphabetize": {
          "ignoreCase": true,
          "order": "asc"
        },
        "groups": [
          "/^react/",
          "module",
          ["parent", "sibling", "index"]
        ],
        "newlinesBetween": "always"
      }],
      "no-multiple-empty-lines": ["warn", {
        "max": 1
      }],
      "no-restricted-syntax":"off",
      "operator-linebreak": "off",
      "react/destructuring-assignment": ["warn", "always", {
        "ignoreClassFields": true
      }],
      "react/jsx-max-props-per-line": ["warn", {
        "maximum": 5
      }],
      "react/jsx-props-no-spreading": ["warn", {
        "custom": "ignore"
      }],
      "react/jsx-sort-props": ["warn", {
        "ignoreCase": true
      }],
      "react/prop-types": "off",
      "react/state-in-constructor": ["warn", "never"],
      "sort-imports": ["warn", {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }],
      "prettier/prettier": ["warn",{
          "printWidth": 100,
          "semi": false,
          "singleQuote": true,
          "quoteProps": "consistent",
          "jsxSingleQuote": true,
          "endOfLine": "lf",
          "tabWidth": 4,
          "trailingComma": "es5"
        }
      ]
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }